body{
    background-color: $claro;
    font-family: 'PT Sans Narrow', sans-serif;
}

body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: $claro;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: $oscuro;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid $claro;  /* creates padding around scroll thumb */
  }


.box{
    margin: 0;
}

.modalOscuro{
  display: none;
  background-color: black;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 3;
}

